@font-face {
  font-family: Roboto Medium; /* Имя шрифта */
  src: url(fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}

.container{
  width: 1135px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.calculator{
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.calculator-step{
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  color: #FFFFFF;
  background: #219653;
}

.calculator-progress{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #EEF2F7;
}

.calculator-body{
  padding: 0 46px;
  min-height: 320px;
  border-bottom: 1px solid #EEF2F7;
}

.calculator-up-percents{
  font-family: Roboto Medium, sans-serif;
  padding-top: 16px;
  text-align: center;
  font-size: 16px;
}

.calculator-input-data{
  margin-top: 31px;
}

.step{
  display: none;
}

.step--active{
  display: block;
}

/* ranges */

.calculator__range-group{
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.calculator__range-items{
  flex: 1 auto;
  margin-right: 30px;
}

.calculator__range{
  width: 100%;
}

.calculator__range-input-group{
  width: 185px;
  height: 60px;
  border-radius: 5px;
  display: flex;
}

.calculator__range-group:first-child{
  margin-top: 74px;
}

.calculator__range-group:not(:first-child){
  margin-top: 46px;
}

.calculator__range-input{
  flex: 1 auto;
  border: none;
  font-family: 'Roboto Medium', sans-serif;
  text-align: center;
  font-size: 25px;
  background: #EEF2F7;
  border-radius: 5px 0px 0px 5px;
}

.calculator__range-input:focus{
  outline: none;
  box-shadow: inset 0 0 0 1px #219653;
  border-radius: 5px 0px 0px 5px;
}

.calculator__range-input::-webkit-outer-spin-button,
.calculator__range-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.calculator__range-input-controls{
  min-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator__range-input-plus, .calculator__range-input-minus{
  cursor: pointer;
  min-width: 28px;
  height: 28px;
  background: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #EEF2F7;
  user-select: none;
}

.calculator-footer{
  padding: 0 46px;
  min-height: 194px;
}

.calculator-footer__blocks{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.calculator-footer__blocks-content{
  /* margin-right: 66px; */
}

.calculator-footer__blocks-content-caption{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #4F4F4F;
  margin-bottom: 5px;
}

.calculator-footer__blocks-content-value{
  font-family: "Roboto Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #333333;
}

.calculator-footer__blocks-content-value-green{
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #219653;
}

.calculator-footer__blocks-content-value-small{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #4F4F4F;
}

.calculator-footer__blocks-return{
  display: flex;
}

.calculator-footer__blocks-content-calendar{
  margin-right: 14px;
}

.calculator-footer__blocks-content-caption-mt{
  margin-top: 3px;
}

.calculator-footer__blocks-content-send{
  width: 215px;
  height: 60px;
  background: #FFDD2D;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border: none;
  color: #333333;
}

.calculator-footer__blocks-content-fast{
  display: flex;
  margin-top: 14px;
  justify-content: center;
}

.calculator-footer__blocks-content-fast-caption{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #219653;
  margin-left: 9px;
}



/* step 2 */
.calculator__row{
  display: flex;
}

.calculator__inputs-group{
  flex: 1 auto;
  margin-right: 71px;
}

.calculator__input-label{
  font-size: 18px;
}

.calculator__select-wrapper{
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.calculator__select-wrapper::after{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 16.78px;
  height: 9px;
  background: url(images/arrow.png);
}

.calculator__select-type{
  width: 100%;
  padding-left: 19px;
  height: 50px;
  border: none;
  font-size: 16px;
  background: #EEF2F7;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.calculator__select-type:focus{
  outline: none;
}

option[value=""][disabled] {
  display: none;
}

/* card */

.calculator__card-wrapper{
  margin-top: 31px;
  width: 382px;
}

.calculator__card{
  padding: 12px 20px;
  background: #FFDD2D;
  border-radius: 5px;
}

.card-item{
  font-family: 'Roboto Medium', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-item:not(:first-child){
  margin-top: 15px;
}

.card-item__title{
  position: relative;
  display: flex;
  align-items: center;
}

.card-item-title--doc::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/contract.png) center no-repeat;
}

.card-item-title--car::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/car-icon.png) center no-repeat;
}

.card-item-title--home::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/home-icon.png) center no-repeat;
}

.card-item-title--name::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/usr.png) center no-repeat;
}

.card-item-title--phone::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/ph.png) center no-repeat;
}

.margin-top-26{
  margin-top: 26px;
}

#card-item-home, #card-item-car{
  display: none;
}

.step__auto, .step__home{
  display: none;
  margin-top: 26px;
}

.calculator__input{
  outline: none;
  margin-top: 10px;
  width: 100%;
  background: #EEF2F7;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 15px 0;
  padding-left: 20px;
  box-sizing: border-box;
}

/* privacy */

.privacy{
  margin-top: 20px;
}

.privacy-checkbox{
  display: none;
}

.privacy-label{
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.privacy-checkbox + .privacy-label::before{
  cursor: pointer;
  margin-right: 14px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #EEF2F7;
  border-radius: 5px;
}

.privacy-checkbox:checked + .privacy-label::before{
  background-color: #219653;
  background-image: url(images/chk.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}


input[type='range'] {
  -webkit-appearance: none;
  height: 10px;
  /* background: #EEF2F7; */
    background: linear-gradient(90deg, rgba(33,150,83,1) 0%, rgba(238,242,247,1) 0%);
  border-radius: 9.5px;
  outline: none;

}


.calculator__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #FFFFFF;;
  border-radius: 50%;
  border: 4px solid #EEF2F7;
  cursor: pointer;
}


/* процентная полоса */

.calculator-progress{
  background: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.calculator-progress__line{
  position: absolute;
  z-index: 2;
  top: 0;
  left: -6px;
  width: 10%;
  height: 50px;
  background: #FFDD2D;
  transition: width 1.5s ;
  transform: skewX(-15deg);
}

.calculator-progress__titile{
  position: relative;
  z-index: 3;
}
