@font-face {
  font-family: Roboto Medium; /* Имя шрифта */
  src: url(fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}

.container{
  width: 1135px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1366px)
{
  .container {
      max-width: 1132px;
  }
}

@media (max-width: 1200px)
{
  .container {
      max-width: 966px;
  }
}

@media (max-width: 1080px)
{
  .container {
      max-width: 720px;
  }
}

@media (max-width: 768px){
  .container {
      max-width: 95%;
  }
}


.calculator{
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}

.calculator-header{
  position: relative;
}

.calculator-prev{
  display: none;
  cursor: pointer;
  position: absolute;
  font-size: 18px;
  color: #fff;
  top: 24px;
  left: 75px;
}

.calculator-prev::before{
  content: '';
  position: absolute;
  left: -30px;
  display: block;
  width: 20px;
  height: 20px;
  background: url(images/prev.png) center no-repeat;
}

.calculator-step{
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  color: #FFFFFF;
  background: #219653;
}

.calculator-progress{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #EEF2F7;
}

.calculator-body{
  padding: 0 46px;
  min-height: 320px;
  border-bottom: 1px solid #EEF2F7;
}

.calculator-up-percents{
  font-family: Roboto Medium, sans-serif;
  padding-top: 16px;
  text-align: center;
  font-size: 16px;
}

.calculator-input-data{
  margin-top: 31px;
}

.step{
  display: none;
}

.step--active{
  display: block;
}

/* ranges */

.calculator__range-group{
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.calculator__range-items{
  flex: 1 auto;
  margin-right: 30px;
}

.calculator__range{
  width: 100%;
}

.calculator__range-input-group{
  width: 185px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.calculator__range-group:first-child{
  margin-top: 74px;
}

.calculator__range-group:not(:first-child){
  margin-top: 46px;
}

.calculator__range-input{
  flex: 1 auto;
  border: none;
  font-family: 'Roboto Medium', sans-serif;
  text-align: center;
  font-size: 25px;
  background: #EEF2F7;
  border-radius: 5px 0px 0px 5px;
}

.calculator__range-input:focus{
  outline: none;
  box-shadow: inset 0 0 0 1px #219653;
  border-radius: 5px 0px 0px 5px;
}

.calculator__range-input::-webkit-outer-spin-button,
.calculator__range-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.calculator__range-input-controls{
  min-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator__range-input-plus, .calculator__range-input-minus{
  cursor: pointer;
  min-width: 28px;
  height: 28px;
  background: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #EEF2F7;
  user-select: none;
}

.calculator__range-input-plus:hover, .calculator__range-input-minus:hover{
  background: #219653;
  color: #fff;
}

.calculator__range-input-plus:active, .calculator__range-input-minus:active{
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.calculator-footer{
  padding: 0 46px;
  min-height: 194px;
}

.calculator-footer__blocks{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.calculator-footer__blocks-content{
  position: relative;
}

.calculator-footer__blocks-content:nth-child(2){
  min-width: 130px;
}

.calculator-footer__blocks-content:nth-child(2) .calculator-footer__blocks-content-value{
  position: absolute;
}

.calculator-footer__blocks-content:nth-child(4){
  min-width: 295px;
}

.calculator-footer__blocks-content:nth-child(4) .calculator-footer__blocks-content-value{
  position: absolute;
}

.calculator-footer__blocks-content-caption{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #4F4F4F;
  margin-bottom: 5px;
}

.calculator-footer__blocks-content-value{
  font-family: "Roboto Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #333333;
}

.calculator-footer__blocks-content-value-green{
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #219653;
}

.calculator-footer__blocks-content-value-small{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #4F4F4F;
}

.calculator-footer__blocks-return{
  display: flex;
}

.calculator-footer__blocks-content-calendar{
  margin-right: 14px;
}

.calculator-footer__blocks-content-caption-mt{
  margin-top: 3px;
}

.calculator-footer__blocks-content-send{
  cursor: pointer;
  width: 215px;
  height: 60px;
  background: #FFD039;
  border-radius: 5px;
  font-family: 'Roboto Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border: none;
  outline: none;
  color: #333333;
}

.calculator-footer__blocks-content-send:hover{
  background: #FFDD2D;
}

.calculator-footer__blocks-content-send:active{
  background: #FFDD2D;
box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.calculator-footer__blocks-content-fast{
  display: flex;
  margin-top: 14px;
  justify-content: center;
}

.calculator-footer__blocks-content-fast-caption{
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #219653;
  margin-left: 9px;
}

.calculator-footer__blocks-content-fast-caption:hover{
  text-decoration: underline;
}



/* step 2 */
.calculator__row{
  display: flex;
}

.calculator__inputs-group{
  flex: 1 auto;
  margin-right: 71px;
}

.calculator__input-label{
  font-size: 18px;
}

.calculator__select-wrapper{
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.calculator__select-wrapper::after{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 16.78px;
  height: 9px;
  background: url(images/arrow.png);
}

.calculator__select-type{
  width: 100%;
  padding-left: 19px;
  height: 50px;
  border: none;
  font-size: 16px;
  background: #EEF2F7;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.calculator__select-type:focus{
  outline: none;
}

option[value=""][disabled] {
  display: none;
}

/* card */

.calculator__card-wrapper{
  margin-top: 31px;
  width: 382px;
}

.calculator__card{
  padding: 12px 20px;
  background: #FFDD2D;
  border-radius: 5px;
}

.card-item{
  font-family: 'Roboto Medium', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-item:not(:first-child){
  margin-top: 15px;
}

.card-item__title{
  position: relative;
  display: flex;
  align-items: center;
}

.card-item-title--doc::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/contract.png) center no-repeat;
}

.card-item-title--car::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/car-icon.png) center no-repeat;
}

.card-item-title--home::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/home-icon.png) center no-repeat;
}

.card-item-title--name::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/usr.png) center no-repeat;
}

.card-item-title--phone::before{
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(images/ph.png) center no-repeat;
}

.margin-top-26{
  margin-top: 26px;
}

#card-item-home, #card-item-car{
  display: none;
}

.step__auto, .step__home{
  display: none;
  margin-top: 26px;
}

.calculator__input{
  outline: none;
  margin-top: 10px;
  width: 100%;
  background: #EEF2F7;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 15px 0;
  padding-left: 20px;
  box-sizing: border-box;
}

.calculator__input:focus{
  outline: none;
  background: #f9fafc;
  box-shadow: inset 0 0 0 1px #219653;
  border-radius: 5px;
}

/* privacy */

.privacy{
  margin-top: 20px;
}

.privacy-checkbox{
  display: none;
}

.privacy-label{
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.privacy-checkbox + .privacy-label::before{
  cursor: pointer;
  margin-right: 14px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #EEF2F7;
  border-radius: 5px;
}

.privacy-checkbox:checked + .privacy-label::before{
  background-color: #219653;
  background-image: url(images/chk.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


input[type='range'] {
  -webkit-appearance: none;
  height: 10px;
  /* background: #EEF2F7; */
  background: linear-gradient(90deg, rgba(33,150,83,1) 0%, rgba(238,242,247,1) 0%);
  border-radius: 9.5px;
  outline: none;

}


.calculator__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #FFFFFF;;
  border-radius: 50%;
  border: 4px solid #FFDD2D;
  cursor: pointer;
}


/* процентная полоса */

.calculator-progress{
  background: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.calculator-progress__line{
  position: absolute;
  z-index: 2;
  top: 0;
  left: -6px;
  width: 10%;
  height: 50px;
  background: #FFDD2D;
  transition: width 1.5s ;
  transform: skewX(-15deg);
}

.calculator-progress__titile{
  position: relative;
  z-index: 3;
}

.calculator-footer__questions{
  display: flex;
}

.calculator-footer__questions-text{
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  width: 767px;
  color: #828282;
}

.calculator-footer__questions-img{
  margin-top: 2px;
}

.calculator-fastrequest{
  display: none;
  position: absolute;
  left:50%;
  margin-left:-301px;
  margin-top:96px;
  width: 602px;
  height: 510px;
  background: white;
  z-index: 11;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
}

.calculator-fastrequest__header{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #333333;
}

.calculator-fastrequest__alert{
  display: flex;
}

.calculator-fastrequest__alert-text{
  margin-left: 14px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}

.calculator-fastrequest__alert-ico{
  margin-top: 4px;
}

.calculator-fastrequest__form{
  display: grid;
}

.calculator-fastrequest__form-fio{
  margin-top: 10px;
  height: 50px;
  padding-left: 19px;
  background: #EEF2F7;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.calculator-fastrequest__form-tel{
  margin-top: 10px;
  padding-left: 19px;
  height: 50px;
  background: #EEF2F7;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #828282;
}

.calculator-fastrequest__privacy{
display: flex;
margin-top: 37px;
justify-content: space-between;
}

.calculator-fastrequest__privacy-check{
  margin-top: 10px;
}

.calculator-fastrequest__privacy-send-btn{
  width: 241px;
  height: 54px;
  font-family: 'Roboto Medium', sans-serif;

  background: #FFD039;
  border-radius: 5px;
  border:none;

  font-size: 18px;

color: #333333;
}

.calculator-fastrequest__privacy-send-btn:hover{
  background: #FFDD2D;
}

.calculator-fastrequest__privacy-send-btn:active{
  background: #FFDD2D;
box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#calc-overlay{
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background: #333333;
opacity: 0.5;
z-index: 10;

}

.calculator-fastrequest__close{
  position: absolute;
  top: -17px;
  left: 650px;
/* step 4 calc success */
}
.calculator-success{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.calculator-success__img{
  margin-top: 10px;
}

.calculator-success__text{
  font-size: 18px;
  text-align: center;
}

.calculator-fastrequest__form-label{
  margin-top: 32px;
font-size: 18px;
color: #333333;
}

.calculator-fastrequest__result{
  display: none;
  margin-top: 82px;
}

.calculator-fastrequest__result-img{

  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.calculator-fastrequest__result-text{
  text-align: center;
  margin-top: 14px;
  font-size: 18px;

color: #333333;
}

/* Анимация кнопки */
.animated_btn {
  -moz-animation: cycle 3s infinite;
  -webkit-animation: cycle 3s infinite;
}

@-moz-keyframes cycle {
  35% {transform: rotate(0) translate(0, 0);}
  40% {transform: rotate(5deg) translate(0, -2px);}
  45% {transform: rotate(-3deg) translate(0, -2px);}
  50% {transform: rotate(5deg) translate(0, -2px);}
  55% {transform: rotate(-3deg) translate(0, -2px);}
  60% {transform: rotate(5deg) translate(0, -2px);}
  65% {transform: rotate(-3deg) translate(0, -2px);}
  70% {transform: rotate(0) translate(0, 0);}
}

@-webkit-keyframes cycle {
  35% {transform: rotate(0) translate(0, 0);}
  40% {transform: rotate(5deg) translate(0, -2px);}
  45% {transform: rotate(-3deg) translate(0, -2px);}
  50% {transform: rotate(5deg) translate(0, -2px);}
  55% {transform: rotate(-3deg) translate(0, -2px);}
  60% {transform: rotate(5deg) translate(0, -2px);}
  65% {transform: rotate(-3deg) translate(0, -2px);}
  70% {transform: rotate(0) translate(0, 0);}
}

.calculator__range-group{
  position: relative;
}

.calculator__range-group-title{
  position: absolute;
  top: -20px;
  font-size: 18px;
  font-family: "Roboto Medium", sans-serif;
}

/* media */

@media(max-width: 1080px) {
  .calculator-footer {
    min-height: auto;
  }
  .calculator-footer__blocks {
    flex-wrap: wrap;
  }
  .calculator-footer__blocks-content:nth-child(n+4){
    margin-top: 20px;
  }
  .calculator-footer__blocks-content:nth-child(4) {
    min-width: 310px;
  }
  .calculator-footer__questions {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .calculator-fastrequest{
    width: 533px;
  }

  .calculator-fastrequest__close{
    left:583px;
  }
}

@media(max-width: 768px) {
  .calculator-footer__blocks {
    margin-top: 14px;
  }
  .calculator-footer__blocks {
    flex-direction: column;
  }
  .calculator-footer__blocks-content:nth-child(2) .calculator-footer__blocks-content-value{
    position: relative;
  }
  .calculator-footer__blocks-content:nth-child(4){
    display: none;
  }
  .calculator-footer__blocks-content:nth-child(5){
    padding-bottom: 18px;
  }
  .calculator-footer__blocks-content {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .calculator-footer__questions {
    display: none;
  }
  .calculator__card-wrapper{
    display: none;
  }
  .calculator__inputs-group {
    flex: 1 auto;
    margin-right: auto;
  }
  .calculator-fastrequest{
    width: 414px;
    height: 542px;
    margin-left: -241px;
  }
  .calculator-fastrequest__close{
    left:461px;
  }
  .calculator-fastrequest__privacy-send-btn{
    width: 172px;
  }
}

@media(max-width: 600px) {
  .calculator-body {
    padding: 0 15px;
    min-height:  auto;
    padding-bottom: 47px;
  }
  .calculator-progress__titile {
    font-size: 14px;
  }
  .calculator-up-percents {
    font-size: 12px;
  }
  .calculator-prev {
    display: none!important;
  }
  .calculator-step {
    height: 54px;
    line-height: 54px;
    font-size: 18px;
  }
  .calculator__range-group-title {
    top: -24px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  .calculator__range-input-group{
    position: absolute;
    top: -36px;
    right: 0;
    width: auto;
  }
  .calculator__range-input {
    flex: auto;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
  }
  .calculator__range-input-controls {
    display: none;
  }
  .calculator__range-items {
    flex: 1 auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .calculator-footer {
    padding: 0px 15px;
  }
  .calculator-footer {
    padding: 0px 15px;
  }
  .calculator-footer__blocks-content:nth-child(2) {
    min-width: auto;
  }
  .calculator-footer__blocks-content:nth-child(5) {
    display: flex;
    flex-direction: column;
  }
  .calculator__input-label{
    font-size: 16px;
  }
  .calculator__select-type {
    height: 40px;
    font-size: 14px;
  }
  .calculator__input {
    font-size: 14px;
    padding: 12px 0;
    padding-left: 19px;
  }
  .privacy-checkbox + .privacy-label::before {
    min-width: 20px;
  }
  .calculator-success__text {
    font-size: 14px;
  }
}
