body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 1.25;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

h4 {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

a {
	color: inherit;
	transition: all 0.3s ease;
}

section{
	padding: 40px 0;
	border-bottom: 1px solid #e3e3e3;
}

.row{
	display: flex;
	justify-content: space-between;
}

.logo{
	padding-left: 12px;
	font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;	
}

.point:after {
	position: absolute;
    content: '.';
    color: #3333ff;
}

.menu-line {
	padding: 20px 0;
	background-color: white;
	border-bottom: 1px solid #e3e3e3;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.menu li {
	display: inline-block;
}

.menu li a {
	display: block;
	margin: 8px 0 10px 20px;
	font-size: 12px;
	font-weight: bold;	
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	
}

#dropdown {
	position: relative;
}

#dropdown:hover #dropdown-menu {
	display: block;
}

#dropdown-menu{
	display: none;
	position: absolute;
    top: 28px;
    left: -40px;
}

#dropdown-menu li{
	border: 1px solid black;
	border-radius: 0;
}

.opacity-box{
	opacity: 0.8;
}

/*About me*/

.about-me-contacts {
	font-size: 14px;
}

.contacts-info {
	margin: 10px 0;
}

.contacts-title {
	display: block;
	float: left;
	font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.66;
}

.contacts-text {
	display: block;
	padding-left: 90px;
	opacity: 0.8;
}

.about-buttons {
	margin-top: 20px;
	padding: 0 15px;
}

.btn {
	margin-right: 20px;
	padding: 10px 15px;
	background-color: #3333ff;
}

.btn a {
	padding: 10px 15px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.btn:hover {
	box-shadow: 0 0 5px 1px #337ab7;
}

.about-img img{
	border-radius: 5px;
	box-shadow: 4px 4px 10px 0px #00000073;
}


/*Expiriense*/

.single-ex{

}

.date {
	font-family: "Open Sans",sans-serif;
}

footer {
    background: #efefef;
    padding: 15px 0 15px;
}

.coopyright{
	text-align: center;
}
